.base {
  position: relative;
  margin: 1em;
}

.label {
  display: block;
}

.input {
  font-size: 1.1em;
  line-height: 1.1em;
  width: 100%;
  padding: 0.5em;
  border: 1px solid lightgray;
}

.list {
  display: block;
  position: absolute;
  background-color: lightgrey;
  font-family: sans-serif;
  font-size: 0.8rem;
  left: 0;
  right: 0;
  max-height: 12em;
  overflow-y: scroll;
  z-index: 1;
  border: 1px solid lightgray;
}

.listItem {
  background-color: #bbb;
  padding: 4px;
  margin-bottom: 1px;
  cursor: pointer;
  padding: 1em;
  font-weight: 600;
  background-color: #fefefe;
}

.listItem:nth-of-type(even) {
  background-color: #efefef;
}

.listItem:hover {
  background-color: azure;
}
