.stockSelector {
  margin: 1em;
  padding: 1em;
}
.selectorInput {
  font-size: 1.1em;
  width: 100%;
  line-height: 1.1em;
  padding: 0.5em;
}
.selectorList {
  padding: 0;
  margin: 0;
  border: 1px solid lightgray;
  list-style: none;
  max-height: 12em;
  overflow-y: scroll;
}
.selectorListItem {
  padding: 1em;
  margin: 0;
  cursor: pointer;
  background-color: #fefefe;
  font-weight: 600;
}
.selectorListItem:nth-of-type(even) {
  background-color: #efefef;
}
.selectorListItem:hover {
  background-color: azure;
}
