.stockDetails {
  display: flex;
  flex-basis: 33.333%;
  justify-content: center;
  padding: 1em;
}

.stockDetails + .stockDetails {
  border-left: 1px solid gray;
}

.heading2 {
  margin-top: 0;
}

.content {
  flex-grow: 1;
}

.closeButton {
  text-align: center;
  flex-basis: 30px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.dataTable {
  display: flex;
  flex-wrap: wrap;
}

.term {
  font-weight: 600;
  flex-basis: 30%;
  margin-bottom: 0.5em;
}

.detail {
  margin: 0;
  flex-basis: 70%;
  margin-bottom: 0.5em;
}

.stockPrice {
  font-weight: 600;
  font-size: 1.6em;
}

.priceDisplay {
  display: flex;
  align-items: center;
}

.priceIcon {
  font-size: 3em;
  display: inline-block;
}

.iconNegative {
  transform: rotate(90deg);
}
